

 body { font-family: Verdana, Geneva, Tahoma, sans-serif ;
     background-image: url("../img/fondo.jpg")  ; 
     background-size: cover;
     margin: 0px; 
}

#menuOpciones {
     background-color: rgb(204, 204, 204);
     margin: 0px;
}

.opcionesMenu {
     display: inline-block ;
     padding-right: 10px;
     padding-left: 10px;
     text-align: center;
     margin: auto;
}

.opcionesMenu:hover { background-color: rgb(240, 196, 93);
                      cursor:pointer;
}

.elementosFormulario {
    margin: 10px;
}

.centrarBoton {
     text-align: center;
}



#formulario { text-align: left;}

#tablaDeTareas { 
     background-color: white;
     text-align: center;
     width: 90%;
     margin: 40px auto;
     padding: 10px;
     font-size: 13px;
     border: 1px solid rgb(171, 171, 180) ;
}

#tablaDeTareas tr, td { 
     padding: 3px;
     border: 0px solid rgb(171, 171, 180) ;
}


.tarea { 
    margin-top: 50px;
    transition: background-color 0.6s linear 0.2s;
}

.tarea:hover { background-color: rgb(241, 218, 142) ;}


#cabecera {
     font-weight: bold;
     font-size: 15px;
     background-color:rgb(199, 206, 200) ;
}
