

body { font-family: Verdana, Geneva, Tahoma, sans-serif ;
     background-color:  white;  
     margin: 0px; }



#formulario {
  
     border-bottom: 2px solid rgb(63, 144, 63);
     margin: auto;
     padding: 14px;
}

.formularioingreso {
     margin: 5px ;
   
}

#filtros { 
     padding: 10px;
     width: auto;
     margin: auto;
     text-align: center;
} 


#tablaDeTareas { 
    
     text-align: center;
     width: 90%;
     margin: 40px auto;
     padding: 10px;
     font-size: 13px;
     border: 1px solid rgb(171, 171, 180) ;
}



#tablaDeTareas tr, td { 
    
     padding: 3px;
     border: 0px solid rgb(171, 171, 180) ;
    
}


.tarea { 
    margin-top: 50px;
    transition: background-color 0.6s linear 0.2s;
    
}
.tarea:hover { background-color: rgb(241, 218, 142) ;}

#cabecera {
     font-weight: bold;
     font-size: 15px;
     background-color:rgb(167, 199, 172) ;
    
}

